<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-2 order-1 mb-4">
                <div class="mb-4">
                    <p class="footer-title">Aphasia Online Terapi</p>
                    <div class>
                        <div class="footer-text"><a href="https://terappin.com/#nasilCalisir"
                                title="Terappin nasıl çalışır?">
                                Nasıl Çalışır?</a></div>
                        <div class="footer-text"><a href="https://terappin.com/hakkimizda"
                                title="Hakkımızda">Hakkımızda</a></div>
                        <div class="footer-text"><a href="https://terappin.com/online-psikologlar"
                                title="Psikologlarımız">Doktorlarımız</a></div>
                        <div class="footer-text"><a href="https://terappin.com/tests"
                                title="Psikolojik Testler">Terapiler</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 order-2 mb-4">
                <p class="footer-title">Terapiler</p>
                <div class="footer-text">
                    <a href="https://terappin.com/test/schutte-duygusal-zeka-olcegi" title="Beck Depresyon Testi">
                        Okuma
                    </a>
                </div>
                <div class="footer-text">
                    <a href="https://terappin.com/test/beck-depresyon-testi" title="Beck Depresyon Testi">
                        Yazma
                    </a>
                </div>
                <div class="footer-text">
                    <a href="https://terappin.com/test/empati-olcegi" title="Beck Depresyon Testi">
                        Dinleme
                    </a>
                </div>
                <div class="footer-text">
                    <a href="https://terappin.com/test/beyaz-ayi-supresyon-envanteri" title="Beck Depresyon Testi">
                        Görsel Hafıza
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 order-4 mb-4 d-lg-block d-none">
                <div class="d-lg-block d-none">
                    <a <p class="fs-24">Aphasia Online Terapi</p>
                    </a>
                </div>
                <div class="footer-social d-lg-flex d-none">
                    <a href="https://instagram.com/terappin.online" target="_blank" class="social_button">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/instagram.svg" width="39"
                            height="39" alt="Terappin Instagram">
                    </a>
                    <a href="https://twitter.com/Terappinonline" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/twitter.svg" width="39"
                            height="39" alt="Terappin Twitter">
                    </a>
                    <a href="https://facebook.com/terappin" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/facebook.svg" width="39"
                            height="39" alt="Terappin Facebook">
                    </a>
                    <a href="https://linkedin.com/company/terappin/" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/linkedin.svg" width="39"
                            height="39" alt="Terappin LinkedIn">
                    </a>
                    <a href="https://www.youtube.com/channel/UC0_dl0MQ-m9WmYj9Q-chrpg/featured" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/youtube.svg" width="39"
                            height="39" alt="Terappin Youtube Kanalı">
                    </a>
                </div>
                <div class="footer-copyright mt-2">
                    <p class="fs-12">Copyright © 2024 <br> Berna Koca</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 order-5 mb-4 d-lg-none d-block">
                <div class="footer-social d-flex d-lg-none mb-4 mt-0">
                    <a href="https://instagram.com/terappin.online" class="d-block" target="_blank"
                        class="social_button">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/instagram.svg" width="39"
                            height="39" alt="Terappin Instagram">
                    </a>
                    <a href="https://twitter.com/Terappinonline" class="d-block" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/twitter.svg" width="39"
                            height="39" alt="Terappin Twitter">
                    </a>
                    <a href="https://facebook.com/terappin" class="d-block" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/facebook.svg" width="39"
                            height="39" alt="Terappin Facebook">
                    </a>
                    <a href="https://linkedin.com/company/terappin/" class="d-block" target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/linkedin.svg" width="39"
                            height="39" alt="Terappin LinkedIn">
                    </a>
                    <a href="https://www.youtube.com/channel/UC0_dl0MQ-m9WmYj9Q-chrpg/featured" class="d-block"
                        target="_blank">
                        <img class="footer-social-icon lazyload"
                            data-src="https://terappin.com/new-site/images/icons/social/youtube.svg" width="39"
                            height="39" alt="Terappin Youtube Kanalı">
                    </a>
                </div>
                <div class="d-flex flex-column">
                    <p class="fs-24">Aphasia Online Terapi</p>
                    <div class="footer-copyright mt-2 mb-4">
                        <p class="fs-12">Copyright © 2024 <br>Berna Koca</p>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Yardım</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>