<nav class="navbar navbar-light navbar-expand-lg text-white fixed-top navbar--purple"
    style="background: rgb(255, 255, 255); margin: 20px; border-radius: 50px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;">
    <a class="nav-link" href="https://terappin.com/online-psikologlar"
             style="color: rgb(50, 36, 96); font-size: 24px; font-weight: bold !important; ">Aphasia Online Terapi
    </a>
    <button class="navbar-toggler collapsed" style="border: none;" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-4 justify-content-center align-self-center pb-3"
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center ">
            <li class="nav-item">
                <a class="nav-link" href="https://terappin.com/#nasilCalisir" style="color: rgb(50, 36, 96);">Nasıl Çalışır? </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://terappin.com/hakkimizda"
                    style="color: rgb(50, 36, 96);">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://terappin.com/online-psikologlar"
                    style="color: rgb(50, 36, 96);">Terapistler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://terappin.com/sikca-sorulan-sorular"
                    style="color: rgb(50, 36, 96);">Terapiler</a>
            </li>
        </ul>
        <br>
        <span class="d-lg-inline-block d-block nav-item text-center mx-lg-2" id="userLogin">
            <a href="https://app.terappin.com/register"
                class="btn btn-header--login rounded-20 w-100 mt-lg-0 mt-5 font-weight-bold rounded-20">GİRİŞ YAP</a>
        </span>
        <span class="d-lg-inline-block d-block  nav-item text-center" id="userRegister">
            <a href="https://app.terappin.com/register"
                class="btn btn-header--register w-100 font-weight-bold rounded-20 mt-lg-0 mt-2">HEMEN KAYDOL</a>
        </span>
    </div>
</nav>